 <nav class="navbar">
   <div class="logo">Short.ly</div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li class="dashboard">
    <input type="checkbox" id="dashboard-toggle" class="menu-toggle">
    <label for="dashboard-toggle" class="menu-icon">&#x2630;</label>
      <ul class="dropdown">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/faqs">FAQs</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
      </ul>
    </li>
  </ul>
</nav>
