<!DOCTYPE html>
<html>
<head>
  <title>Signup - Short.ly</title>
</head>
<body>
  <div class="container" style="text-align:center; padding:100px 0;">
    <p>These pages are underway...soon this features will be integrated in this website. Thank you for ur patience.</p>
  </div>
</body>
</html>
